osx_image: xcode10.2
language: swift
cache:
  bundler: true
  cocoapods: true
  directories:
  - Carthage
env:
  secure: ink5jhbtR9aGbiVzcrPP+jBLtYKmZ61uxmXmqwqsyAZip2zbL/tktXdLaeNhUnlJHazZF156rOFe5DFSElFmNYvpSZrXJCVMxwWKB+MJWQ879LUk6W4W65jTvkXKZmMrrUqwkOTNNMq0ycfs5tx+eFJBzHd3Z93OX0oKwb44ZjC1NC05LGJfOlZQs+7IWYKXu0XKpZ/Zo+n4jGxMPEaQCMifz8ac8WVAgsgXs5R3ANrAd6AtBHZqNLu+NzGi5FQ2u7M1EERWo69qAmmHQYKB9aYyERi4cU6KD3XF8B89szR3pH41avfYFs+ZqenF7yAm0dN5UoLBqHA5s+yBQ1kzZbvcCunEU88XjgeRuzwTUfyTq8RIN+BNzaAwSCgu/fNMaFLOZjYAXK+gtVm2elx69maC6N+hKpZblmgUtmaOQyXzY3pVNXdqCqqqzIrqSyvqPuuNSzLxjVFJUW8ycYEfB4Iywcwl74IlxWJ58WpeCgMW3cVE4l4kxw+ZWoVniumpVlp69QtgwHloUosOzmzoIwLjgEm6uGZvr3DIKKXwLZACtq8Oj7uhm8iNV4sU5eS0w+b+VC6gYCxI4yOZHWhwtBG4QtrKlEvXC0Gjy4rIXN0JuKiAHLZKiCr0YuCmks2xXv2INNnJAIBVlJ7URVY4OSY+eqCiWUSobO8n48Zu7gk=
before_install:
- brew update

jobs:
  include:
    - stage: Build - CocoaPods	
      install:	
        - brew outdated cocoapods || brew upgrade cocoapods	
      script:	
        - travis_wait 500 pod lib lint
    - stage: Build - Carthage And Code Coverage
      install:
        - brew outdated carthage || brew upgrade carthage
        - brew install xcodegen
        - gem install slather
      script:
        # Carthage requires that XCode project files are checked in. Project.yml is
        # the canonical definition for the .xcodeproj file. Remove the .xcodeproj file
        # and regenerate it.
        # See: https://github.com/Carthage/Carthage/issues/2684
        - rm -rf TezosKit.xcodeproj
        - xcodegen generate

        # Build with Carthage
        - travis_wait 500 carthage bootstrap --platform iOS,mac --no-use-binaries --verbose
        - set -o pipefail && xcodebuild test -scheme TezosKit_macOS -destination 'platform=macOS,arch=x86_64' ONLY_ACTIVE_ARCH=YES | xcpretty
        - set -o pipefail && xcodebuild test -scheme TezosKit_iOS -destination 'platform=iOS Simulator,name=iPhone XS,OS=12.2' ONLY_ACTIVE_ARCH=YES | xcpretty

      after_success:
        # Generate and Upload Code Coverage
        - slather
        - bash <(curl -s https://codecov.io/bash) -f ./cobertura.xml
   
      
